@font-face {
  font-family: "iconfont"; /* Project id 3440504 */
  src: url('iconfont.woff2?t=1658371121175') format('woff2'),
       url('iconfont.woff?t=1658371121175') format('woff'),
       url('iconfont.ttf?t=1658371121175') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-zaixianfuwuxian:before {
  content: "\e624";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-dashuju:before {
  content: "\e61a";
}

.icon-qiyeyuanquwuye:before {
  content: "\e894";
}

.icon-qiyeyuanquwuye-xianxing:before {
  content: "\e895";
}

.icon-wangzhan:before {
  content: "\e628";
}

.icon-xunpanC:before {
  content: "\e60a";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-shujuwajue:before {
  content: "\ec5c";
}

.icon-zaixiankefu:before {
  content: "\e617";
}

.icon-shuju:before {
  content: "\e8c6";
}

.icon-wendangwenjian:before {
  content: "\e63b";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a5";
}

.icon-needkelogocaisetubiao:before {
  content: "\e60c";
}

.icon-needke_logo:before {
  content: "\e60d";
}

.icon-xunpan:before {
  content: "\e609";
}

.icon-chanpinmoxing:before {
  content: "\e721";
}

.icon-prodmsg:before {
  content: "\e60e";
}

.icon-lanqiu:before {
  content: "\e7a2";
}

